body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form label {
    margin-right: 10px;
}