body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form form {

    margin: 0 50px;
    justify-content: center;
    align-items: center;
}

.author{
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
}
.btn{
    display: block;
    text-align: center;
}
form label{
    margin-right: 10px;
}
.input_form div{
    margin: 10px;
}
.error{
    color: red;
}

.btn{
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    border: 1px solid black;
    text-decoration: none;
}

.form {
    margin: 10px auto;
    max-width: 500px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
.regist{
    border: 1px solid forestgreen;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
}